@media screen and (max-width: 39.9375em) {
  .hideforweb {
    display: block;
  }
  .apply-form .container {
    width: 100%;
  }
  .menu-mobile {
    float: left;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(51, 51, 79, 0.5);
    z-index: 10;
  }
  .menu-mobile .container {
    float: right;
    width: 60%;
    height: 100%;
    background-color: #FFF;
    position: relative;
  }
  .menu-mobile .container .close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #33334f;
    font-size: 0.75em;
    font-weight: 500;
    text-transform: uppercase;
  }
  .menu-mobile .container .navbar {
    float: left;
    width: 100%;
    padding: 50px 30px;
  }
  .menu-mobile .container .navbar li {
    float: left;
    width: 100%;
  }
  .menu-mobile .container .navbar li a {
    float: left;
    width: 100%;
    color: #33334f;
    border-bottom: 1px solid rgba(51, 51, 79, 0.1);
    padding: 10px 0;
  }
  .mob {
    float: left;
    width: 100%;
  }
  header {
    height: auto;
  }
  header .container .hero-bg {
    display: none;
  }
  header .container .header-nav {
    display: none;
  }
  header .container .main-content {
    padding: 10px 20px;
    width: 100%;
  }
  header .container .main-content .logo {
    margin-top: 10px;
  }
  header .container .main-content .tagline {
    font-size: 2em;
  }
  header .container .main-content .sub-tagline {
    padding-right: 20px;
  }
  header .container .main-content .mtagline {
    padding-right: 50px;
  }
  header .container .main-content .clogos {
    transform: scale(0.75);
  }
  .how-it-works {
    padding: 50px 0 0;
  }
  .how-it-works .sub-tagline {
    padding: 0 30px !important;
  }
  .how-it-works .steps-section .step {
    padding-bottom: 40px;
  }
  .companies .container .lfsec {
    padding: 260px 20px 40px;
  }
  .companies .container .lfsec .subtag {
    padding: 20px 0;
  }
  .companies .container .rsec {
    padding-top: 0;
  }
  .companies .container .rsec .vector-companies {
    transform: scale(0.75);
  }
  .faq .container .sub-tagline {
    padding: 0;
  }
  .testimonials .container .sub-tagline {
    padding: 0 70px;
  }
  .testimonials .container .testimonials-sec .testi .tst-container .user-pic {
    width: 40px;
    height: 40px;
  }
  .testimonials .container .testimonials-sec .testi .tst-container .infos {
    width: calc(100% - 40px);
    padding-left: 10px;
  }
  .testimonials .container .testimonials-sec .testi .tst-container .infos .text {
    font-size: 0.8em;
    padding: 5px 0 0;
  }
  footer {
    padding: 10px 20px;
  }
  footer .container .cp {
    width: 70%;
    font-size: 0.75em;
  }
}
