@import "foundation.css";
@import "_v";

$darkblue: #33334f;

body {
    background-color: #f6f8fc;
}

.hideforweb {
    display: none;
}

[v-cloak] {
    display: none;
}

header {
    @include flwi();
    height: 700px;
    position: relative;
    background-color: #FFF;
    .container {
        .hero-bg {
            float: right;
            width: 737px;
            height: 736px;
            background-size: cover;
            position: absolute;
            right: 0;
        }

        .header-nav {
            float: right;
            position: relative;
            z-index: 2;
            padding-top: 25px;
            right: -30px;
            
            .header-navbar {
                float: right;
                li {
                    float: left;
                    a {
                        @include flwi();
                        font-size: 0.8em;
                        font-weight: 500;
                        color: #FFF;
                        text-transform: uppercase;
                        padding: 8px 17px;

                        &.rounded-cta {
                            border-radius: 30px;
                            border: 2px solid #FFF;
                            padding: 8px 24px;

                            &:hover {
                                background-color: #FFF;
                                color: $darkblue;
                            }
                        }
                    }   
                }
            }
        }

        .main-content {
            float: left;
            position: relative;
            z-index: 2;
            padding: 40px 0;
            .mob-menu {
                float: right;
                padding-top: 5px;
                i {
                    width: 20px;
                    height: 20px;
                    background-size: cover;
                    float: left;
                }
            }
            .logo {
                float: left;
                width: 75px;
                height: 18px;
                background-size: cover;
                a {
                    @include flwi();
                    height: 100%;
                    text-indent: -9999px;
                }
            }

            .arabesque {
                margin: 35px 0;
            }

            .tagline {
                @include flwi();
                font-size: 2.3em;
                color: $darkblue;
                line-height: 42px;
            }

            .sub-tagline {
                @include flwi();
                font-size: 0.85em;
                font-weight: 400;
                color: #767ead;
                padding: 35px 100px 35px 0;
            }

            .cta-btn-join {
                float: left;
                border-radius: 30px;
                background-color: #8065ff;
                color: #FFF;
                font-size: 0.74em;
                font-weight: 500;
                text-transform: uppercase;
                padding: 12px 30px;

                &:hover {
                    background-color: lighten(#8065ff, 4);
                }

                &:active {
                    background-color: darken(#8065ff, 4);
                }
            }

            .notice {
                @include flwi();
                font-size: 0.65em;
                font-weight: 400;
                color: #b9bdcd;
                padding-top: 10px;
            }

            .share-actions {
                @include flwi();
                padding-top: 25px;
                a {
                    float: left;
                    padding-right: 30px;
                    .icon-social {
                        &.tw {
                            width: 23px;
                            height: 19px;
                            margin-top: 2px;
                        }
                        &.fb {
                            width: 23px;
                            height: 23px;
                        }
                        float: left;
                        background-size: cover;
                    }
                    span {
                        float: left;
                        font-size: 0.8em;
                        font-weight: 400;
                        color: #7f87b2;
                        line-height: 24px;
                        padding-left: 10px;
                    }
                }
            }

            .mtagline {
                @include flwi();
                font-size: 0.85em;
                font-weight: 400;
                color: $darkblue;
                padding: 35px 220px 35px 0;
            }

            .clogos {
                height: 23px;
                width: 327px;
                float: left;
            }
        }
    }
}

.how-it-works {
    @include flwi();
    padding: 140px 0 0;
    background-color: #FFF;
    
    .container {
        .tagline {
            @include flwi();
            padding: 25px 0;
            text-align: center;
            color: $darkblue;
            font-size: 1.4em;
        }

        .sub-tagline {
            @include flwi();
            text-align: center;
            font-size: 0.8em;
            font-weight: 400;
            color: #767ead;
            padding: 0 300px;
        }

        .steps-section {
            @include flwi();
            padding-top: 50px;
            .step {
                .step-vector {
                    width: 98px;
                    height: 87px;
                    background-size: cover;
                    display: block;
                    margin: 0 auto;
                }

                .title-step {
                    color: $darkblue;
                    @include flwi();
                    font-size: 0.85em;
                    font-weight: 500;
                    text-align: center;
                    padding-top: 20px;
                }

                .subtitle {
                    color: #767ead;
                    @include flwi();
                    font-size: 0.75em;
                    font-weight: 400;
                    text-align: center;
                    padding: 10px 60px 0;
                }
            }
        }

        .cta-hire {
            @include flwi();
            padding: 25px 0;
            text-align: center;
            .tagline {
                font-size: 1em;
                font-weight: 500;
                color: $darkblue;
                padding-bottom: 40px;
            }

            .cta-action {
                display: block;
                width: 150px;
                padding: 15px 0px;
                color: #a15fff;
                font-size: 0.74em;
                font-weight: 500;
                text-transform: uppercase;
                margin: 0 auto;
                border-radius: 30px;
                box-shadow: 0 -3px 10px 0px rgba(#000, 0.05);

                &:hover {
                    box-shadow: 0 -3px 10px 0px rgba(#000, 0.08);
                }

                &:active {
                    box-shadow: 0 -3px 10px 1px rgba(#000, 0.05);
                }
            }
        }
    }
}

.companies {
    @include flwi();
    position: relative;
    
    .hero-wave {
        @include flwi();
        height: 236px;
        background-size: cover;
        background-position: center bottom;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }

    .lfsec {
        position: relative;
        z-index: 2;
        padding: 240px 0 50px;
        .fqtitle {
            @include flwi();
            font-size: 0.85em;
            font-weight: 500;
            color: #9aa3d0;
            padding-top: 25px;
        }
        .tagline {
            color: $darkblue;
            font-size: 1.45em;
            line-height: 30px;
            @include flwi();
        }

        .subtag {
            @include flwi();
            font-size: 0.8em;
            font-weight: 400;
            color: #767ead;
            line-height: 20px;
            padding: 25px 250px 0 0;
            text-align: justify;
        }

        .cta-btn-join {
            float: left;
            border-radius: 30px;
            background-color: #8065ff;
            color: #FFF;
            font-size: 0.74em;
            font-weight: 500;
            text-transform: uppercase;
            padding: 12px 30px;
            margin-top: 30px;

            &:hover {
                background-color: lighten(#8065ff, 4);
            }

            &:active {
                background-color: darken(#8065ff, 4);
            }
        }

        
    }

    .rsec {
        padding-top: 200px;
        .vector-companies {
            float: right;
            width: 362px;
            height: 342px;
            background-size: cover;
        }
    }
}

.faq {
    @include flwi();
    .container {
        .tagline {
            @include flwi();
            padding: 25px 0;
            text-align: center;
            color: $darkblue;
            font-size: 1.4em;
        }

        .sub-tagline {
            @include flwi();
            text-align: center;
            font-size: 0.8em;
            font-weight: 400;
            color: #767ead;
            padding: 0 300px;
        }

        .qst-sec {
            @include flwi();
            padding: 50px 0;
            .question {
                padding: 10px;
                position: relative;
                float: left;
                .qst-container {
                    @include flwi();
                    min-height: 70px;
                    background-color: #FFF;
                    border-radius: 5px;
                    box-shadow: 0 3px 10px 0 #f0ebfe;
                    padding: 10px 20px;
                    line-height: 50px;
                    font-size: 1em;
                    font-weight: 400;
                    color: #767ead;
                    transition: 0.2s all;
                    overflow: hidden;
                    cursor: pointer;
                    
                    &:hover {
                        box-shadow: 0 3px 10px 2px #f0ebfe;
                    }

                    .response {
                        border-top: 1px solid rgba($darkblue, 0.05);
                        padding: 10px 0;
                        font-size: 0.8em;
                        font-weight: 400;
                        line-height: 20px;
                        color: $darkblue;
                    }
                }
                
                .chvdwon {
                    float: right;
                    width: 24px;
                    height: 24px;
                    background-size: cover;
                    margin-top: 15px;
                }
            }
        }
    }
}

.testimonials {
    @include flwi();
    .tagline {
        @include flwi();
        padding: 25px 0;
        text-align: center;
        color: $darkblue;
        font-size: 1.4em;
    }

    .sub-tagline {
        @include flwi();
        text-align: center;
        font-size: 0.8em;
        font-weight: 400;
        color: #767ead;
        padding: 0 300px;
    }

    .testimonials-sec {
        @include flwi();
        padding: 50px 0;
        .testi {
            padding: 10px;
            .tst-container {
                @include flwi();
                height: 120px;
                background-color: #FFF;
                border-radius: 5px;
                box-shadow: 0 3px 10px 0 #f0ebfe;
                padding: 20px 20px;
                transition: 0.2s all;
                &:hover {
                    box-shadow: 0 3px 10px 2px #f0ebfe;
                }
                .user-pic {
                    float: left;
                    width: 60px;
                    height: 60px;
                    border-radius: 100%;
                    background-size: cover;
                    margin-top: 10px;
                }

                .infos {
                    float: left;
                    width: calc(100% - 60px);
                    padding-left: 15px;
                    padding-top: 7px;
                    .name {
                        @include flwi();
                        font-size: 0.8em;
                        font-weight: 500;
                        color: $darkblue;
                    }

                    .post {
                        @include flwi();
                        font-size: 0.75em;
                        font-weight: 500;
                        color: #aaa;
                    }

                    .text {
                        @include flwi();
                        font-size: 0.9em;
                        font-weight: 400;
                        color: #8895ba;
                        padding-top: 10px;
                    }
                }
            }
        }
    }
}

footer {
    @include flwi();
    padding: 20px 0;
    border-top: 1px solid rgba($darkblue, 0.05);
    .container {
        .logo {
            float: left;
            width: 75px;
            height: 18px;
            background-size: cover;
            margin-top: 10px;
            a {
                @include flwi();
                height: 100%;
                text-indent: -9999px;
            }
        }

        .cp {
            float: right;
            font-size: 0.85em;
            font-weight: 400;
            color: lighten($darkblue, 30);
            padding:8px 0px;
        }
    }
}

.arabesque {
    &.fl {
        float: left;
    }

    &.ds {
        display: block;
        margin: 0 auto;
    }

    width: 75px;
    height: 15px;
    background-size: cover;
}

.apply-form {
    @include flwi();
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($darkblue, 0.5);
    z-index: 1200;
    .container {
        width: 500px;
        background-color: #FFF;
        border-radius: 3px;
        display: block;
        margin: 100px auto 0;
        overflow: hidden;
        .title {
            @include flwi();
            padding: 15px 15px 10px;
            font-size: 1em;
            color: $darkblue;
            position: relative;
            .close {
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 0.75em;
                font-weight: 500;
                color: $darkblue;
                text-transform: uppercase;
            }
        }

        .subtitle {
            @include flwi();
            font-size: 0.85em;
            color: rgba($darkblue, 0.5);
            padding:0 15px;
        }

        .form-inputs {
            @include flwi();
            padding: 15px;
            position: relative;
            .success-message {
                @include flwi();
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background-color: #FFF;
                z-index: 10;
                padding: 100px 0;
                .icon-succ {
                    display: block;
                    margin: 0 auto;
                    width: 80px;
                    height: 80px;
                    background-size: cover;
                }

                .title {
                    @include flwi();
                    font-size: 1em;
                    color: $darkblue;
                    text-align: center;
                }

                .msg {
                    @include flwi();
                    font-size: 0.8em;
                    color: rgba($darkblue, 0.5);
                    text-align: center;
                    padding: 10px 50px;
                }
            }
            .input {
                @include flwi();
                padding-bottom: 15px;
                position: relative;
                .chvdwon {
                    position: absolute;
                    right: 15px;
                    top: 17px;
                    background-size: cover;
                    display: block;
                    width: 20px;
                    height: 20px;
                }

                .error-message {
                    @include flwi();
                    font-size: 0.75em;
                    font-weight: 400;
                    color: #FF2255;
                    padding: 10px 0 0;
                }

                input, textarea {
                    @include flwi();
                    border-radius: 3px;
                    box-shadow: 0 1px 1px 0 rgba($darkblue, 0.05);
                    padding:15px 10px;
                    border: 1px solid rgba($darkblue, 0.1);
                    font-size: 0.85em;
                    font-weight: 400;
                    color: $darkblue;
                    &::placeholder {
                        color: rgba($darkblue, 0.5);
                    }
                    &:focus {
                        border-color: rgba($darkblue, 0.25);
                    }
                }

                textarea {
                    resize: none;
                    height: 100px;
                }

                select {
                    @include flwi();
                    padding: 15px 10px;
                    height: 50px;
                    border: 1px solid rgba($darkblue, 0.1);
                    font-size: 0.85em;
                    font-weight: 500;
                    color: $darkblue;
                    background-color: #fff;

                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: '';

                }

                select::-ms-expand {
                    display: none;
                }
            }

            .cta-submit {
                @include flwi();
                text-align: center;
                padding: 10px 0;
                button {
                    display: inline-block;
                    padding: 17px 30px;
                    background-color: $darkblue;
                    border-radius: 30px;
                    font-size: 0.8em;
                    font-weight: 500;
                    color: #FFF;
                    text-align: center;
                    width: 140px;

                    &:hover {
                        background-color: lighten($darkblue, 10);
                    }

                    &:active {
                        background-color: $darkblue;
                    }

                    .loader {
                        display: block;
                        width: 15px;
                        height: 15px;
                        background-size: cover;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@import "responsive"