@media screen and (max-width: 39.9375em) {
    .hideforweb {
        display: block;
    }

    .apply-form {
        .container {
            width: 100%;
        }
    }

    .menu-mobile {
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(#33334f, 0.5);
        z-index: 10;

        .container {
            float: right;
            width: 60%;
            height: 100%;
            background-color: #FFF;
            position: relative;
            .close {
                position: absolute;
                right: 20px;
                top: 20px;
                color: #33334f;
                font-size: 0.75em;
                font-weight: 500;
                text-transform: uppercase;
            }
            .navbar {
                float: left;
                width: 100%;
                padding: 50px 30px;
                li {
                    float: left;
                    width: 100%;
                    
                    a {
                        float: left;
                        width: 100%;
                        color: #33334f;
                        border-bottom: 1px solid rgba(#33334f, 0.1);
                        padding: 10px 0;
                    }
                }
            }
        }
    }
    
    .mob {
        float: left;
        width: 100%;
    }
    header {
        height: auto;
        .container {
            .hero-bg {
                display: none;
            }
            .header-nav {
                display: none;
            }
            .main-content {
                padding: 10px 20px;
                width: 100%;
    
    
                .logo {
                    margin-top: 10px;
                }
                .tagline {
                    font-size: 2em;
                }
    
                .sub-tagline {
                    padding-right: 20px;
                }
    
                .mtagline {
                    padding-right: 50px;
                }
    
                .clogos {
                    transform: scale(0.75);
                }
            }
        }
    }
    
    .how-it-works {
        padding: 50px 0 0;
        .sub-tagline {
            padding: 0 30px !important;
        }
        .steps-section {
            .step {
                padding-bottom: 40px;
            }
        }
    }
    
    .companies {
        .container {
            .lfsec {
                padding: 260px 20px 40px;
                .subtag {
                    padding: 20px 0;
                }
            }
    
            .rsec {
                padding-top: 0;
                .vector-companies {
                    transform: scale(0.75);
                }
            }
        }
    }
    
    .faq {
        .container {
            .sub-tagline {
                padding: 0;
            }
        }
    }
    
    .testimonials {
        .container {
            .sub-tagline {
                padding: 0 70px;
            }
            .testimonials-sec {
                .testi {
                    .tst-container {
                        .user-pic {
                            width: 40px;
                            height: 40px;
                        }
                        .infos {
                            width: calc(100% - 40px);
                            padding-left: 10px;
                            .text {
                                font-size: 0.8em;
                                padding: 5px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
    
    footer {
        padding: 10px 20px;
        .container {
            .cp {
                width: 70%;
                font-size: 0.75em;
            }
        }
    }
}

